.form-comment {
    resize: none;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.label.form-title {
    padding: 8px;
    display: flex;
    align-items: flex-start;

}

.form-item {
    margin: 0px;
    width: 100%;
}