.image-upload {
    background-image: url(../assets/bakelit.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0vh;
    margin: 0vh;
    border: none;
}

.upload-h1 {
    font-family:"Rubik Medium", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
}

.upload-h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-transform: none;
    color:white;
}

.upload {
    margin: auto;
    padding: 25px;
    width: 100%;
    max-width: 1000px;
    font-family: Rubik, sans-serif;
    color: #ffffff;
    background-color:transparent;
}

.formUpload-group {
    text-transform: none;
    font-size: 15px;
    letter-spacing: 1px;
}

input.form-upload {
    width: 1000px;
    height: 40px;
    border-radius: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    color: white;
}

label.form-title {
    padding: 8px;
    display: flex;
    align-items: flex-start;

}
.submit-container {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.submit-btn {
    background-color: #E8993D;
    margin-top: 50px;
    padding: 10px;
    font-family: "Rubik Medium", sans-serif;
    font-size: 22px;
    color: white;
    width: 270px;
    border-radius: 30px;
    border-color: #E8993D;
}

.mp3-btn {
    margin-left: 30px;
    padding: 6px;
    font-family: "Rubik Medium", sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
    color: white;
    width: 200px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: Transparent;
    background-repeat:no-repeat;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.upload-form {
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 30px;
    width: 50%;
}

.form-item {
    margin: 10px;
    width: 100%;
}

.form-input {
    display: block;
    width: 100%;
    margin: 10px 0;
    height: 30px;
}

.form-input-comment {
    resize: none;
    width: 100%;
    margin: 10px 0;
}

.uploadProgress-line {
    text-transform: uppercase;
}
