.image{
    width: 600px;
    height: 900px;
    padding: 10px;
    padding-bottom: 50px;
}

.text-container{
    width: 700px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translateY(-50%);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.home-h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 45px;

}

.home-h5{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    position:fixed;
    left:650px;
    bottom:0px;
    height:65px;


}


a:link{
    display: flex;
    justify-content: right;
    align-items: center;

}

.demoNavigatie{
    background-color: #E8993D;
    position: absolute;
    padding: 15px;
    margin-top: 200px;
    margin-left: 200px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    width: 270px;
    border-radius: 30px;
    border-color: #E8993D;
}