.no-upload {
    color: white;
}

.add-demo-img {
    display: flex;
    justify-content: left;
    padding: 20px;
    margin-right: auto;
    width: 20%;
}

.no-upload {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

u {
    padding-left:5px;
    padding-right: 5px;
}
