.background-container{
    background-image: url(../assets/feest_achtergrond.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0vh;
    margin: 0vh ;
    border: none;

}

.titel-1 {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #ffffff;
    font-size:72px;
    text-transform: uppercase;
}

.titel-2 {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: #ffffff;
    font-size: 48px;
    text-transform: uppercase;
}

.button-container{
    height: 20vh;
    width: auto;
    background-color: #06070C;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;

}


.signIn-button{
    font-family: "Rubik Medium", sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #06070C;
    border-color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 110px;
    border-width: 1px;
    margin-right: 30px;
    margin-bottom: 70px;
}
