.home-pagina {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    top: 3px;
}

a, a.home-pagina {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #E8993D;
}

a.active-link {
    color: #E8993D;
}

a.home-pagina.active-link {
    color: white;
}

a.home-pagina:hover {
    color: #E8993D;
}

.nav-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    background-color: #06070C;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    border-bottom: 1px solid white;
}

ul {
    list-style-type: none;
    flex-basis: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.active-link {
    color:white;
}

h4 {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    top: 3px;
}



