.footer{
    margin-top: 1rem;
   /* padding: 0rem; */
    background-color: #06070C;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.sign-button{
    font-family: "Rubik Medium", sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #06070C;
    border-color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 110px;
    border-width: 1px;
}